*/{
    margin: 0;
}

.wrapper{
    width: 300px;
    height: 400px;
    margin: 100px auto;
}

.flexRow{
    display:flex;
    flex-direction: row;
}

.flexColumn{
    display:flex;
    flex-direction: column;
}

.tableHeader{
    justify-content: space-between;
}

.tableHeader p{
    font-weight: bold;
    margin: 1rem .5rem;
}

.productCategoryRow{
    font-size:1.2rem;
    font-weight: bold;
}


.productRow{
    justify-content: space-between;
    font-size: 1rem;
    /* height: 1.5rem; */
}

.productRow p{
    margin: .25rem .5rem;
}